/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 900px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* HEADER */
.site-header {
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 2rem 0 0 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* MAIN */
.form-section {
  margin-top: 0;
  margin-bottom: 2rem;
}
.form-section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.form {
  display: flex;
  margin: auto;
}
.form__input {
  width: 595px;
  padding: 0.5rem 1rem;
  margin-right: 1.56rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid rgba(108, 99, 255, 1);
  color: rgba(195, 193, 229, 1);
  font-weight: 500;
  font-size: 1rem;
  background-image: url('img/search-logo.svg');
  background-repeat: no-repeat;
  background-position: center right 1rem;
}
.form__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85px;
  height: 38px;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  border: 0;
  color: rgba(247, 247, 247, 1);
  background-color: rgba(108, 99, 255, 1);
}
.notes {
  margin-top: 0;
  margin-bottom: 2rem;
}
.notes__container {
}
.notes-form {
  display: flex;
  flex-direction: column;
}
.notes-form div, input, label {
  cursor: pointer;
}
.notes-form__note-wrapper {
  display: flex;
  align-items: center;
  width: 520px;
  padding: 0.5rem 0;
}
.notes-form__note-wrapper:not(:last-child) {
  border-bottom: 0.0625rem solid rgba(108, 99, 255, 1);
}
.notes__input {
  width: 26px;
  height: 26px;
  margin-right: 1.2rem;
  border: 0.0625rem solid rgba(108, 99, 255, 1);
}
.notes__label {
  font-family: 'Kanit';
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.notes__input:checked + .notes__label,
.notes__input {
  text-decoration: line-through;
  opacity: 0.5;
}
